{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_collapsed %}
    <div class="appointment-list">
        <div class="row">
            <div id="{{ form.vars.id }}_choices" class="col-xs-12">
                <div class="col-xs-12">
                    {% for group_label, group in choices %}
                        {% if group.choices is defined %}
                            <div id="{{ form.vars.id }}_{{ group.label }}_choices">
                                <div class="col-xs-12">
                                    <h5>{{ group_label }}</h5>

                                    {% for key, choice in group.choices %}
                                        <div class="checkbox">
                                            {% set attr = choice.attr|merge({name:form.vars.full_name, type:'radio', value: choice.value, 'required':true }) %}
                                            <input id="{{ form.vars.id }}_choice_{{ choice.value }}" {{ block('attributes') }} >
                                            <label for="{{ form.vars.id }}_choice_{{ choice.value }}">{{ choice.label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock choice_widget_collapsed %}

{% block appointment_widget %}
    {{ form_widget(form.children.event) }}
    {{ form_widget(form.children.slot) }}
    {{ form_widget(form.children.startAt) }}
    {{ form_widget(form.children.endAt) }}

    <script type="text/javascript">
        (function () {
            let slot = document.getElementById('{{ form.children.slot.vars.id }}');
            let startAt = document.getElementById('{{ form.children.startAt.vars.id }}');
            let endAt = document.getElementById('{{ form.children.endAt.vars.id }}');
            let events = document.querySelectorAll('input[type=radio][name="{{ form.children.event.vars.full_name }}"]');

            function onClick(event) {
                slot.value = event.target.getAttribute('data-slot-id');
                startAt.value = event.target.getAttribute('data-start-at');
                endAt.value = event.target.getAttribute('data-end-at');
            }

            Array.prototype.forEach.call(events, function (input) {
                input.addEventListener('click', onClick);
            });
        })();
    </script>
{% endblock appointment_widget %}
