{% block appointment_widget %}
    {{ form_widget(form.children.event) }}

    <div style="display: none;">
        {{ form_widget(form.children.slot) }}
        {{ form_widget(form.children.startAt) }}
        {{ form_widget(form.children.endAt) }}
    </div>

    <script type="text/javascript">
        (function () {
            let slot = document.getElementById('{{ form.children.slot.vars.id }}');
            let startAt = document.getElementById('{{ form.children.startAt.vars.id }}');
            let endAt = document.getElementById('{{ form.children.endAt.vars.id }}');
            let events = document.querySelectorAll('input[type=radio][name="{{ form.children.event.vars.full_name }}"]');

            function onClick(event) {
                slot.value = event.target.getAttribute('data-slot-id');
                startAt.value = event.target.getAttribute('data-start-at');
                endAt.value = event.target.getAttribute('data-end-at');
            }

            Array.prototype.forEach.call(events, function (input) {
                input.addEventListener('click', onClick);
            });
        })();
    </script>
{% endblock appointment_widget %}
